body{
    margin: 0;
    border: 0;
    overflow: auto;
}


.creditos{
    font-size: 10px;
    display: flex;
    justify-content: center;
    bottom: 0;
    color: bisque;
    position: absolute;
}

.stars-container{
    position: absolute;
}

.fecha{
    top: 6em;
    position: absolute;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, transparent 70%);
    width: 10em;
    right: 50%;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.date{
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.05em;
    font-size: 24px;
}
.time{
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.05em;
    font-size: 24px;
}

.frase{
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    color: #daf6ff;
    letter-spacing: 0.05em;
    top: 6em;
    left: 32%;
    position: absolute;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, transparent 70%);
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
}