
/* MAINHEADER */
.proyect{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/star_fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    overflow: auto;
    z-index: 100;
}


.ocultoProyect{
    width: 0em;
    transition: right 0.6s ease;
}
.visibleProyect{
    width: 100vw;
    right: 0;
    transition: right 0.6s ease;
    height: 100%;
    overflow: auto;
}


/* PROJECTOS */
.ContainerProyects{
    margin-top: 9.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.Proyects{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));    
    width: auto;
    height: calc(100vh - 9em);
    overflow: auto;
}
.ProyectsDiv{
    position: relative;
    padding: 1em;
    height: 300px;
}
.ProyectsDivInfom600{
    font-size: 12px;
    z-index: 1;
    bottom: 1.4em;
    position: absolute;
    border-radius:0 0 20px 20px;
    width: 91%;
    background: transparent;
    color: #ffffff;
    border: 1em;
    padding: 2em;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(73, 73, 73, 0.053),rgba(90, 90, 90, 0.7), rgba(169, 169, 169, 0.7)); 
}
.ProyectsDivInfo{
    border-radius: 0 0 20px 20px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    color: #ffffff;
    margin: 1em;
    padding: 1em;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
    background: linear-gradient(to bottom, rgba(73, 73, 73, 0.053),rgba(90, 90, 90, 0.7), rgba(169, 169, 169, 0.7)); 
}
.ProyectsDivInfo_tec{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
.ProyectsDivInfo_tec p{
    padding: 1em;
}
.ProyectsDiv:hover .ProyectsDivInfo {
    transform: translateY(0); /* Se desplaza hacia arriba al hacer hover */
  }

.ProyectsDivInfo h2{
    font-size: 30px;
}
.ProyectsDivInfo p{
    font-size: 15px;
}


.ProyectsInformation{
    top: 7em;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
} 

.DivProyectsInformation_key{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #06101a;
    color: rgb(255, 255, 255);
    margin-top: 3em;
}
.ProyectsInformation_key{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ProyectsInformationBack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #091521;
    border-bottom: solid 0.1em #454749;
}
.ProyectsInformationRed{
    padding: 0.5em;
    display: flex;
    justify-content:space-around;
    background-color: #091521;
}





@media (min-width: 600px) {
    .DivProyectsInformation_key{
        display: flex;
        flex-direction: column;
        width: 40%;
        background-color: #06101a;
        color: rgb(255, 255, 255);
    }
    .Proyects{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));    
        gap: 1em;
        width: 100%;
        height: calc(100vh - 16em);
        flex-grow: 1;
        padding: 5em 5em 0em 5em;
    }

}